---
import { Footer } from '../../components/index.astro';
import { Page } from '../../layouts/index.astro';

export async function getStaticPaths() {
  const proyects = await Astro.glob('../../content/proyects/*.md');

  return proyects.map((e) => {
    return {
      params: { project: e.frontmatter.title },
      props: { ...e.frontmatter, Content: e.Content },
    };
  });
}
const { project } = Astro.params;
const { Content } = Astro.props;
---

<Page title={`Proyecto ${project}`}>
  <nav class='project-nav'>
    <img
      class='project-nav__img'
      src='/assets/Logo.svg'
      alt='Logo emanuel palacio'
    />
    <a class='project-nav__link' href='/'>Volver</a>
  </nav>
  <Content />
  <Footer />
</Page>

<style>
  .project-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 40px;
  }
</style>
