---
import { Card } from '../index.astro';
const proyects = await Astro.glob('../../pages/projects/*md');
---

<section class='proyects' id='proyects'>
  <h2 class='proyects__title'>Proyectos</h2>
  <div class='proyects__container'>
    {proyects.map((e) => <Card proyectInfo={e.frontmatter} />)}
  </div>
</section>
<style>
  .proyects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin-left: 100px;
  }
  .proyects__title {
    align-self: flex-start;
    width: 50%;
    margin-bottom: 2rem;
    border-bottom: 2px solid rgb(var(--color-details));
  }
  .proyects__container {
    perspective: 500px;
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, calc(100% / 4)));
    height: 100%;
    gap: 20px;
    padding-bottom: 20px;
  }
</style>
