---
import {
  Footer,
  Nav,
  HomeSection,
  AboutMeSection,
  ProyectSection,
} from '../components/index.astro';
import { Page } from '../layouts/index.astro';
---

<Page title='Emanuel Palacio'>
  <Nav />
  <main>
    <HomeSection />
    <AboutMeSection />
    <ProyectSection />
  </main>
  <Footer />
</Page>
<style>
  main {
    display: inline-flex;
    flex-direction: column;
    min-height: 100%;
    margin-left: 80px;
  }
</style>
