---
import { Section } from '../layouts/index.astro';
import AboutMeSvg from './SVG/AboutMeSvg.astro';
---

<Section id='aboutMe'>
  <div class='aboutMe__containerSvg'>
    <AboutMeSvg className='aboutMe__svg' />
  </div>
  <div class='aboutMe__content'>
    <h2>Sobre mi</h2>
    <p>
      ¡Hola! Mi nombre es Emanuel Palacio y soy desarrollador frontend con
      experiencia en JavaScript, React, ReactNative y Astro. También tengo
      conocimientos de back-end, pero prefiero definirme como un frontend
      developer con nociones sobre back, que llamarme fullstack.
    </p>

    <p>
      Desde que descubrí mi pasión por el desarrollo de software, he estado
      dedicado a crear soluciones web y móviles innovadoras e intuitivas. He
      tenido la oportunidad de realizar simulaciones de trabajo en NoCountry,
      donde pude adquirir habilidades y conocimientos en el desarrollo de
      aplicaciones tanto de front-end como de back-end. Esto me permite tener
      una comprensión completa de todo el proceso de desarrollo de software,
      desde la planificación y el diseño hasta la implementación y el
      mantenimiento.
    </p>
    <p>
      Si quieres saber más sobre mis trabajos y proyectos anteriores, te invito
      a que sigas mirando mi portafolio. Aquí encontrarás una muestra de mi
      trabajo en el desarrollo de aplicaciones web y móviles, y si te gusta lo
      que ves, ¡contáctame!.
    </p>
  </div>
</Section>

<style>
  .aboutMe {
    display: flex;
    width: 100%;
    height: 100vh;
  }
  .aboutMe__introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
    width: 50%;
  }
  .aboutMe__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 50%;
    padding-right: 50px;
  }
  .aboutMe__content > h2 {
    align-self: flex-start;
    width: 100%;
    margin-bottom: 2rem;
    border-bottom: 2px solid rgb(var(--color-details));
  }
  .aboutMe__containerSvg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .aboutMe__svg {
    aspect-ratio: 552 540;
    height: 70%;
    max-height: 500px;
  }
</style>
