<footer>
  <ul class='list'>
    <li class='list__item'>
      <a
        class='list__link'
        href='https://github.com/EmanuelPalacio'
        target='_blank'
      >
        <img src='/assets/icons/github.svg' alt='github' />
      </a>
    </li>
    <li class='list__item'>
      <a
        class='list__link'
        href='https://www.linkedin.com/in/emanuel-palacio/'
        target='_blank'
      >
        <img src='/assets/icons/linkedin.svg' alt='linkedin' />
      </a>
    </li>
  </ul>
</footer>

<style>
  footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 80px;
    height: calc(100vh - 100px);
    bottom: 20px;
  }
  .list {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
  }
  .list::before {
    content: '';
    align-self: center;
    background-color: rgb(var(--color-contrast));
    width: 1px;
    height: 100%;
  }
  .list__link img {
    aspect-ratio: 1;
    width: 40px;
    filter: drop-shadow(0px 1px 10px rgb(var(--color-shadow)));
  }
  .list__link:hover img {
    transform: scale(1.1);
    filter: drop-shadow(0px 1px 5px rgb(var(--color-contrast)));
  }
  .list__link:active img {
    transform: scale(0.9);
  }
</style>
