---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='./assets/Logo.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: 'Nunito-Italic';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito-Italic'),
      url('assets/fonts/Nunito-Italic-VariableFont_wght.woff2') format('woff2'),
      url('assets/fonts/Nunito-Italic-VariableFont_wght.woff') format('woff'),
      url('assets/fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src: local('Orbitron'),
      url('assets/fonts/Orbitron-VariableFont_wght.woff2') format('woff2'),
      url('assets/fonts/Orbitron-VariableFont_wght.woff') format('woff'),
      url('assets/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
  }
  :root {
    --PrimaryColor: #16191e;
    --SecondaryColor: #76f4de;
    --ThirdColor: #004ebd;
    --FourtColor: #cfdafb;
    --PrimaryText: #cfdafb;
    --SecondaryText: var(--SecondaryColor);
    --ThirdText: #8690b1;
    --FontSizeTitle: 3rem;
    --FontSizeSubTitle: 2.6rem;
    --FontSizeH3: calc(var(--FontSizeSubTitle) - 0.6rem);
    --FontSizeRestTitles: calc(var(--FontSizeSubTitle) - 1rem);
    --FontSizeText: 1rem;
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    border: 0;
  }
  html {
    font-family: Nunito-Italic, sans-serif;
    font-weight: 400;
    font-size: var(--FontSizeText);
    color: var(--PrimaryText);
    background-color: var(--PrimaryColor);
  }
  :is(h1, h2, h3, h4, h5, h6) {
    font-family: Orbitron, sans-serif;
    font-weight: 700;
    font-size: var(--FontSizeRestTitles);
  }
  body {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    background-image: url('./assets/backgroundTest.png');
    background-size: 30%;
  }
  html h1 {
    font-size: var(--FontSizeTitle);
    padding: 0;
    margin: 0;
  }
  h2 {
    font-size: var(--FontSizeSubTitle);
  }
  h3 {
    font-size: var(--FontSizeH3);
  }
  :is(a, a:link, a:visited, a:any-link) {
    color: var(--PrimaryText);
  }
</style>
