---
import HomeSection from '../components/HomeSection.astro';
---

<main>
  <HomeSection />
</main>
<style>
  main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-left: 80px;
  }
</style>
