---
const { firstSection, id, flexDirectionColumn } = Astro.props;
---

<section
  class={`${firstSection ? 'firstSection' : null} ${
    flexDirectionColumn ? 'flexDirectionColumn' : null
  }`}
  id={id}
>
  <slot />
</section>
<style>
  section {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
  }
  .firstSection {
    height: calc(100vh - 100px);
  }
  .flexDirectionColumn {
    flex-direction: column;
    justify-content: center;
  }
</style>
